body {
  background-color: #eee;
  margin: 0;
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: #2b2b2b;
}

h1 {
 font-size: 2.5em;
}

p {
  color: #595858;
}

figure {
  padding: 10px;
  background-color: #FFF;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

figcaption {
  margin: 20px 0 7.5px 0;
  color: #595858;
}

#tribute-info{
  margin: 0 15%
}

h2 {
    margin: 80px 0;
}

ul {
  text-align: left;
}

li {
  margin-bottom: 1.2rem;
}

blockquote {
  font-style: italic;
  text-align: left;
  margin: 40px auto 50px auto;
  font-size: 12px;
}

footer {
  margin: 25px;
}

@media (max-width: 768px) {
  h1 {
     font-size: 1.8em;
  }
  
  p {
    font-size: 12px;
  }
  
  figcaption {
    font-size: 12px;
  }
  
  #tribute-info {
    margin: 0 5%;
  }
  
 li {
    margin-bottom: 1rem;
  }
    
  h2 {
    font-size: 1.2em;
    margin: 12% 0;
  }
  
  blockquote p {
    font-size: 1em;
  }
}